@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&display=swap");
:root {
  /* -----------------Variables----------------- */
  --navbar: #0b1326;
  --primary: #22d3ee;
  --background: #142235;
  --background-secondary: #0b1326;
  --text: #ffffff;
  --text-muted: #d3d3d3;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* -----------------Globals----------------- */
body {
  font-family: Inter, sans-serif;
  color: var(--text);
  background-color: var(--background);
  align-items: center;
  justify-content: center;
}

/* -----------------Navbar----------------- */
.navbar {
  background-color: var(--navbar);
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.navbar .app-logo {
  display: flex;
  align-items: center;
  color: var(--primary);
  font-size: 1.5rem;
  font-weight: bold;
  padding: 1rem;
  gap: 0.5rem;
  width: 33.33%;
}

.navbar .navbar-links {
  display: flex;
  gap: 1rem;
  padding: 1rem;
  align-items: center;
  width: 33.33%;
  justify-content: center;
}

.navbar .navbar-links a {
  text-decoration: none !important;
  color: var(--text-muted) !important;
}

.navbar .navbar-icons {
  display: flex;
  gap: 1rem;
  padding: 1rem;
  align-items: center;
  width: 33.33%;
  justify-content: flex-end;
}

.navbar .navbar-icons svg {
  cursor: pointer;
}

@media only screen and (max-width: 972px) {
  .navbar .app-logo {
    font-size: 1.2rem;
  }

  .navbar .navbar-links {
    display: none;
  }
}
